
#code-editor {
  width: 100%;
  height: 90vh;
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: monospace;
}

.header {
  display: flex;
  gap: 3rem;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  background-color: #e8e8e8;
  border-radius: 0 0 10px 10px;
  margin-left: 3em;
  margin-right: 3em;
}

.title {
  color: red;
}

#run-tests {
  color: forestgreen;
}

#reset-code {
  color: darkgray
}

.like-button {
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  margin: 3px;
  text-align: center;
  border-radius: 5px;
}
.like-button:active {
  color:red;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}


#code-file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
